.about-content {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
  font-family: $f-d;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
  color: #453A3A;

  & p {
    margin: 0 0 20px;
  }
}