.main-slider {

}

.wr-main-slider {
  position: relative;
  margin: 0 0 30px;
}

.wr-navigation {

  @media (max-width: 1024px) {
    height: 78px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.pagination-bullets-box.swiper-pagination-bullets {
  width: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 39px 50px;

  @media (max-width: 767px) {
    padding: 32px 50px;
  }

  & .swiper-pagination-bullet {
    flex-shrink: 0;
    user-select: none;
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border: 2px solid #fff;
    opacity: 1;
    background: transparent;
    display: block;
    border-radius: 50%;
    outline: 0;
    padding: 0;

    &:focus, &:active {
      width: 14px;
      height: 14px;
      border: 2px solid #fff;
      background: transparent;
      outline: 0;
      padding: 0;
    }

    &.swiper-pagination-bullet-active {
      background: #fff;
      border-radius: 50%;
      outline: 0;
      padding: 0;
    }
  }
}

.button-main-slider {
  @include button;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  &_prev {
    left: calc(170 * 100vw / 1440);

    @media (max-width: 1200px) {
      left: 6%;
    }

    @media (max-width: 1024px) {
      left: 0;
    }
  }

  &_next {
    right: calc(170 * 100vw / 1440);;

    @media (max-width: 1200px) {
      right: 6%;
    }

    @media (max-width: 1024px) {
      right: 0;
    }
  }
}